
services:
  airflow:
    build: .
    container_name: airflow
    command: standalone
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      PYTHONPATH: /opt/airflow:/opt/airflow/dags:/opt/airflow/project
      _AIRFLOW_WWW_USER_CREATE: 'true' # REDO
      _AIRFLOW_WWW_USER_USERNAME: admin # REDO
      _AIRFLOW_WWW_USER_PASSWORD: admin # REDO
      AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT: 120
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      DBT_PROFILES_DIR: /opt/airflow/dbt_customer_project
    volumes:
      - ./core/airflow/dags:/opt/airflow/dags
      - ./core/dbt_customer_project:/opt/airflow/dbt_customer_project
      - ./:/opt/airflow/project
      - ./core/airflow/logs:/opt/airflow/logs
      - ./core/dbt_customer_project/profiles.yml:/opt/airflow/dbt_customer_project/profiles.yml